- name: Install fish
  package:
    state: present
    name: fish

- name: create fish config directory
  file:
    state: directory
    path: "{{ user_home_dir }}/.config/fish"
    owner: "{{ target_user }}"
    group: "{{ target_group }}"

- name: push fish config
  copy:
    src: "{{ item }}"
    dest: "{{ user_home_dir }}/.config/fish/{{ item }}"
    owner: "{{ target_user }}"
    group: "{{ target_group }}"
  loop:
    - functions/
    - config.fish
    - fish_variables
